<body id="page-top">
  <app-nav-bar></app-nav-bar>
  <!-- About Section-->
  <section class="page-section color-text text-white mb-0" id="about">
    <div class="container">
      <br />
      <br />
      <!-- About Section Heading-->
      <h2
        class="page-section-heading text-center text-uppercase text-white text-big"
      >
        About
      </h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-lg-4 ms-auto">
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            nam velit consequuntur tenetur. Error soluta saepe quisquam
            molestias, aperiam, corrupti numquam ex odit minima possimus eum
            vero praesentium? Consequatur, dolorem!
          </p>
        </div>
        <div class="col-lg-4 me-auto">
          <p class="lead">
            You can create your own custom avatar for the masthead, change the
            icon in the dividers, and add your email address to the contact form
            to make it fully functional!
          </p>
        </div>
      </div>
      <!-- About Section Button-->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light text-big" href="#">
          Contact US!
        </a>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</body>
