.social {
  margin: 50px;
}

.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

.links a {
  margin: 0 30px;
}

.links a em {
  font-size: 3rem;
}

.footer {
  background: #23282f;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  padding-bottom: 20px;
}
