<footer class="footer">
  <section class="social">
    <p>Follow Juan Carlos Estevez Vargas</p>
    <div class="links">
      <a href="https://www.facebook.com/juancarlos.estevezvargas.98">
        <em class="fab fa-facebook-f"></em>
      </a>
      <a href="https://www.instagram.com/juankestevez/">
        <em class="fab fa-instagram"></em>
      </a>
      <a href="https://github.com/Juan-Carlos-Estevez-Vargas">
        <em class="fab fa-github"></em>
      </a>
    </div>
  </section>
  <div class="container">
    <small>Copyright &copy; Juan Carlos Estevez Vargas 2022</small>
  </div>
</footer>
